<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="728d963b-c058-487d-bb91-7cc9906473d7" Publisher="CN=pisth" Version="0.9.8.0" />
  <Properties>
    <DisplayName>Bitcoin Exchange Rate</DisplayName>
    <PublisherDisplayName>Jiri Kuba</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Bitcoin.Curses.Windows.App">
      <m2:VisualElements DisplayName="Bitcoin Exchange Rate" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Application will get actual bitcoin exchange rates and 24 hour rate difference. Result can be displayed as a live tile." ForegroundText="light" BackgroundColor="#F7931A">
        <m2:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </m2:DefaultTile>
        <m2:LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\BadgeLogo.png" />
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="portraitFlipped" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="Bitcoin.Courses.Windows.BackgroundTask.ExchangeRatesLiveTileBackgroundTask">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>