<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="x54586JiriKuba.BitcoinExchangeRate">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="25" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />
	<application android:label="Bitcoin Exchange Rate"></application>
</manifest>